
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');body{
    margin: 0;
    padding: 0;
    background: #2c3e50;
}
.button{
    position: absolute;
    top: 23%;
    left: 40%;
}
.btn{
    position: relative;
    display: block;
    color: #fff;
    font-size: 18px;
    font-family: 'Architects Daughter', cursive;
    text-decoration: none;
    margin-top: 30px;
    border: 2px solid #16a085;
    padding: 15px 50px;
    overflow: hidden;
    transition: 1s all ease;
}
.btn:before{
    background:#16a085 ;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    transition: all 0.6s ease;
}
.btn-1:before{
    width: 0%;
    height: 100%;
}

.btn-1:hover:before{
    width: 100%;
}
.btn-2:before{
    height: 0;
    width: 100%;
}
.btn-2:hover:before{
    height: 100%;
}
.btn-3:before{
    width: 100%;
    height: 0%;
    transform: translate(-0%,-40%) rotate(45deg);
}
.btn-3:hover:before{
    height: 300px;
}
.btn-4:before{
    width: 100%;
    height: 0%;
    transform: translate(-0%,-40%) rotate(-45deg);
}
.btn-4:hover:before{
    height: 300px;
}